html {
    min-height: 100%;
 }


body { 
    margin: 0; 
    padding: 10px; 
    font-family: Roboto,
    "Helvetica Neue", sans-serif; 
    font-size: 10pt; 
    background-image: url(img/gestao2.jpg);
    background-size: cover;
    color:azure;

}

.titulo_pagina{
    
    color:azure;
    padding: 2px;
    font-size: large;
    font-weight: bold;
    border-bottom: solid 2px #ffffff;
    position:first-line;
}

table{
    background-color: white;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-align: center;
}